name: FFmpeg multi-platform static build

on:
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: self-hosted
    timeout-minutes: 10000
    outputs:
      timestamp: ${{ steps.get-timestamp.outputs.timestamp }}

    steps:
      - name: Get current timestamp
        id: get-timestamp
        run: echo "timestamp=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v4

      # - name: Create and push tag
      #   run: |
      #     git config user.name owncast-ffmpeg-builder
      #     git config user.email github-actions@github.com
      #     git tag ${{ steps.get-timestamp.outputs.timestamp }}
      #     git push --tags

      - name: Fetch tags again to ensure latest tag is available
        run: git fetch --tags

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all # Installs QEMU for all architectures

      - name: Create builds builder
        run: mkdir -p ./builds

      - name: Setup Earthly
        uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: latest

      - name: Build with Earthly
        run: earthly --output --ci --github-annotations --no-cache +multi-platform

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: ${{ steps.get-timestamp.outputs.timestamp }}
          body: Updated static FFmpeg builds
          files: |
            ./builds/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB_TOKEN }}
